body {
	margin: 0;
}

.gestion>li>a{
	color: #FFFFFF;
	background-color: #004F8A;
	border-radius: 5rem;
	text-decoration: none;
	padding: 0.1rem 3rem 0.1rem 3rem;
	border-style: solid;
	border-color: #004F8A;
    font-size: 2.5rem;
    margin: 2rem;


}
.gestion>li>a:hover{
	color: #004F8A;
	background-color: #FFFFFF;
}

.gestion {
	display: flex;
	list-style-type: none;
	gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
    padding-left: 3rem;
}

.nomGestion{
    background-color: #004F8A;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
}
.fichier,.user,.categorie{
    margin-bottom: 3rem;
}    

@media only screen and (max-width: 1000px) {
    .nomGestion{
     font-size: 400%;
     margin-bottom: 5rem;
    }
    .gestion{
        display: flex;
        flex-wrap: wrap;
    }
    .gestion>li>a{
        margin: 5rem;
    }


}
@media only screen and (max-width: 535px) {
    .nomGestion{
     font-size: 100%;
     margin-bottom: 0rem;
    }
    .gestion{
        display: flex;
        flex-wrap: wrap; 
        margin-top: 1rem;
        padding: 0%;
    }
    .gestion>li>a{
        margin: 0rem;
        font-size: 1rem;
    }
}
